@import url('https://fonts.googleapis.com/css?family=Muli:400,900');

$dark: #2b0318;
$accent: #6b0e3e;
$light: #e5e4e2;
$secondary-dark: #662b49;
$secondary-light: #725363;

$padding-item: 1.5rem 0.5rem;
$padding-content: 0rem 1rem 2rem;
$border: 2px solid $accent;

$green: #095839;
$purple: #5F052E;
$navy: #19336E;

@mixin absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  background: no-repeat  url('../images/keyboard.jpg');
  color: $dark;
  text-shadow: $light 0px 0px 1px;
  -webkit-font-smoothing: antialiased;

  .container {
    display: flex;
    flex-flow: column;
    height: 100%;

    header {
      flex: initial;
      font-size: 1.5rem;
      .title {
        padding: $padding-item;
      }
      .navbar {
        @include absolute-center;
        &__item {
          border-top: $border;
          padding: $padding-item;
          &#active {
            font-weight: 600;
          }
        }
      }
    }
    main {
      flex: auto;
      @include absolute-center;
      padding: $padding-content;
    
      .content {
        &__item {

          &#landing {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

._bold {
  font-weight: 600;
}

._hide {
  display: none;
}