@import url('https://fonts.googleapis.com/css?family=Muli:400,900');

$green: #095839;
$purple: #5F052E;
$navy: #19336E;

body {
  font-family: 'Muli', sans-serif;
  button:focus {
    outline: 0;
  }
  button {
    &.projects {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      border: 0;
      background-color: $purple;
      font-size: 14px;
      color: #fff;
    }
  }
  div.title {
    font-size: 30px;
    h1 {
      color: $navy;
    }
  }
  div.projects {
    div {
      width: 250px;
      p {
        display: none;
        font-size: 10px;
      }
      img.infoUp {
        display: none;
      }
      &.fern {
        h1 {
          color: $purple;
        }
      }
      &.drank {
        h1 {
          color: $navy;
        }
      }
      &.rite {
        h1 {
          color: $green;
        }
      }
      &.guide {
        h1 {
          color: $purple;
        }
      }
    }
  }
}
