@import url('https://fonts.googleapis.com/css?family=Muli:400,900');

$green: #095839;
$purple: #5F052E;
$navy: #19336E;

body {
  font-family: 'Muli', sans-serif;
  main {
    text-align: center;
    padding: 60px 0px 0px 0px;
    button:focus {
      outline: 0;
    }
    button {
      &.about {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        border: 0;
        background-color: $purple;
        font-size: 14px;
        color: #fff;
        margin: 0 20px;
      }
      &.projects {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        border: 0;
        background-color: $green;
        font-size: 14px;
        color: #fff;
        margin: 0 20px;
      }
    }
    div.title {
      font-size: 30px;
      h1 {
        color: $navy;
      }
    }
    div.about {
      padding-top: 20px;
      p {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 15px;
      }
    }
    div.projects {
      div {
        width: 250px;
        margin: 0 auto;
        p {
          display: none;
          font-size: 10px;
        }
        img.infoUp {
          display: none;
        }
        &.fern {
          h1 {
            color: $purple;
          }
        }
        &.drank {
          h1 {
            color: $navy;
          }
        }
        &.rite {
          h1 {
            color: $green;
          }
        }
        &.guide {
          h1 {
            color: $purple;
          }
        }
      }
    }
  }
}
